body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ====== FONTS ====== */

h1 {
  font-family: myriad-pro-semiextended,sans-serif;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-family: myriad-pro-semiextended,sans-serif;
  font-weight: 900;
  font-style: normal;
}

h3 {
  font-family: myriad-pro-semiextended,sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* You may need this non-extended font later in development */

/* h1 {
  font-family: myriad-pro,sans-serif;
  font-weight: 900;
  font-style: normal;
} */

p {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

a {
  color: var(--cobalt);
}

ul { 
  padding: 0 0 0 2vW;
  margin: 0;
}


li {
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style: none;
}

.coporate {
  font-family: corporate-s, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cora {
  font-family: cora, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.neuzit {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.subtitle {
  text-transform: uppercase;
  margin: 0;
}

/* ====== HEIGHT & WIDTH ====== */

.h-fifty {
  height: 50%;
}

.h-one-hundred {
  height: 100%;
}

.one-hundred-vh {
  height: 100vH;
}

.ninety-vh {
  height: 90vH;
}

.h-sixty {
  height: 60%;
}

.w-one-hundred {
  width: 100%;
}

.w-seventy {
  width: 70%;
}

.w-sixty {
  width: 60%;
}

.w-fifty {
  width: 50%;
}

.w-forty-seven {
  width: 47%;
}

.w-forty {
  width: 40%;
}

.w-thirty {
  width: 30%;
}

.w-twenty-five {
  width: 25%;
}

/* ====== SPACING ====== */

.al-center {
  align-items: center;
}

.baseline {
  align-items: baseline;
}

.column {
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.space-btwn {
  justify-content: space-between;
}

/* ====== POSITION ====== */

.absolute {
  position: absolute;
}

.fifty-fifty {
  top: 65%;
  left: 25%;
}

.relative {
  position: relative;
}

.z-index {
  z-index: 999 !important;
}

.z-index-10 {
  z-index: 10;
}

/* ====== MARGIN ====== */

.bottom-100px {
  margin-bottom: 100px;
}

.top-100px {
  margin-top: 100px;
}

/* ====== PADDING ====== */

.no-top-padding {
  padding-top: 0;
  margin-top: 0;
}

.top-padding {
  padding: 15vH 0 5vH 0;
}

.only-top-padding {
  padding-top: 1vH;
}

.only-top-margin {
  margin-top: 1vH;
}

.no-padding {
  padding: 0;
  margin: 0;
}

.side-padding {
  padding: 0vH 1vW;
}

.stnd-padding {
  padding: 1vH 1vW;
}

.double-padding {
  padding: 2vH 2vW;
}

/* ====== COLORS ====== */

:root {
  --cobalt: #0b0b84;
  --sand: #e4dcd1;
  --evergreen: #317C41;
  --mint-green: #d7f0dd;
  --preserved-lemon: #CCCC21;
  --pumpkin: #E26E40;
}

.cobalt {
  background-color: var(--cobalt);
}

.cobalt-gradient {
  background-image: linear-gradient(105deg, var(--sand) 0%, var(--sand) 50%, var(--cobalt) 50%);
}

.cobalt-txt {
  color: var(--cobalt);
}


.evergreen {
  background-color: var(--evergreen);
}

.evergreen-txt {
  color: var(--evergreen);
}

.mint-green {
  background-color: var(--mint-green);
}

.preserved-lemon {
  background-color: var(--preserved-lemon);
}

.pumpkin {
  background-color: var(--pumpkin);
}

.pumpkin-txt {
  color: var(--pumpkin);
}

.sand {
  background-color: var(--sand);
}

.sand-txt {
  color: var(--sand);
}

.sand-gradient-50 {
  background-image: linear-gradient(0deg, var(--sand) 0%, var(--sand) 50%, transparent 50%);
}

.sand-gradient-50-down {
  background-image: linear-gradient(180deg, var(--sand) 0%, var(--sand) 50%, transparent 50%);
}

.txt-al-center {
  text-align: center;
}

/* ====== BUTTONS ====== */

.small-bttn {
  align-items: center;
  border-radius: 10px;
  display: flex;
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 900;
  font-style: normal;
  height: 30px;
  justify-content: center;
  padding: 0vH 2vW;
  text-transform: uppercase;
  width: 120px;
}


.button-div-height {
  height: 60px;
}

.sand-border {
  border: 2px solid var(--sand)
}

.sand-border-right {
  border-right: 5px solid var(--sand);
}

.sand-border-bottom {
  border-bottom: 5px solid var(--sand);
}

/* ====== BORDER ====== */

.border-radius {
  border-radius: 10px;
}

/* ====== AUDIO ====== */

audio::-webkit-media-controls-panel {
  background-color: var(--sand);
  color: var(--evergreen)
}

audio::-webkit-media-controls-play-button {
  color: var(--evergreen);
}

audio::-webkit-media-controls-current-time-display {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--evergreen);
}

audio::-webkit-media-controls-time-remaining-display {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--evergreen);
}

audio::-webkit-media-controls-timeline {
}

/* ====== MENUS ====== */

.condensed-menu-width {
  width: 10vW;
}

.menu-bttn {
  margin-bottom: 5px;
  padding: 0vH 3vW;
  text-align: center;
  text-transform: uppercase;
}

.triangle {
  width: 40px;
  position: absolute;
  top: 47%;
  cursor: pointer;
}

.triangle-size {
  width: 40px;
  cursor: pointer;
}

.menu-left-border {
  border-left: 5px solid black;
}

.menu-right-border {
  border-right: 5px solid black;
}

.vault-padding {
  padding: 0vH 1vW;
}


/* === INDEX MENU === */

.index-condensed-menu {
  position: fixed;
  right: 0%;
}

.index-list li {
  padding-bottom: 2px;
}

.index-list li:hover {
  border-bottom: 1px solid black;
  padding-bottom: 1px;
}
.index-menu {
  min-width: 300px;
  position: fixed;
  right: 0%;
  width: 25vW;
  overflow: hidden;
}

.index-entries {
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  height: 60vH;
  overflow: scroll;
  margin: 0vH 1vW 0vH 50px;
}

.index-entries a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.index-location {
  border-top: 5px solid black;
  margin: 0;
  text-transform: uppercase;
}

.index-location-first {
  margin: 0;
  text-transform: uppercase;
}

.index-sub-title {
  font-family: myriad-pro-semiextended,sans-serif;
  font-weight: 900;
  font-style: normal;
  margin: 0;
  padding-left: 1vW;
  text-transform: uppercase;
}

#triangle-index-close {
  left: 0%;
  transform: rotate(180deg);
}

#triangle-index-open {
  left: 0%;
}

/* === THEMES MENU === */

.theme-condensed-menu {
  position: fixed;
  left: 0%;
}

.themes-menu {
  position: fixed;
  left: 0%;
  width: 25vW;
}

#triangle-theme-close {
  right: 0%;
}

#triangle-theme-open {
  transform: rotate(180deg);
}

/* ====== HOMEPAGE ====== */

.home-border {
  border-bottom: 5px solid var(--preserved-lemon);
}

.home-height {
  height: 90vH;
}

.home-section-padding {
  padding-top: 10vH;
  padding-bottom: 5vH;
}

.home-text {
  font-size: 18em;
}

.home-text-width {
  width: 60vW;
}

.top-black-border {
  border-top: 2px solid black;
}

/* ====== BIORGRAPHY ====== */

/* ====== ESSAY ====== */

.essay-heading {
  margin-left: 20px;
}

.essay-title-height {
  height: 300px;
}

.essay-width {
  width: 40vW;
}

.essay-slash {
  position: absolute;
  left: 15%;
  height: 300px;
}

/* ====== TRANSCRIPTION ====== */

.transcription-details {
  font-size: 15px;
}

.transcript-slash {
  height: 300px;
}

.transcription {
  margin: 0;
}

/* ====== VIDEO ====== */

.video {
  padding: 2vH;
  width: 69vW;
}

.video-title-width {
  width: 10vW;
}

iframe {
  width: 53vW;
  height: 30vW;
}

/* ====== RESOURCES MENTIONED ====== */

.resources-list li {
  font-weight: 900;
  border-bottom: 5px solid black;
  padding: 3px 0;
}

.resources-list {
  padding-left: 0;
}

.resources-subtitle {
  text-transform: uppercase;
  margin: 4vH 0 0 0;
}

.resources-title-padding {
  padding-left: 20vW;
}

.resources-width {
  width: 35vW;
}

/* ====== GATHERED MATERIALS ====== */

.container {
  overflow-x: scroll;
  width: 100vW;
}

.container-length {
  width: 6000px;
}

.intro-panel-width {
  width: 600px;
}

.intro-title {
  font-size: 50px;
  margin: 0;
  padding: 0vH 2vW;
}

.intro-width {
  width: 200px;
}

.panel-1400 {
  width: 1400px;
}

.panel-700 {
  width: 700px;
}

.panel-900 {
  width: 900px;
}

/* === ARCHIVAL THINKING === */

.ar-panel-1 {
  background-image: url('/public/Images/Pictures/ArchivalThinking1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ar-slash {
  position: absolute;
  height: 80vH;
  left: 20%;
  top: 70px;
}

.bebe-seattle {
  background-image: url('/public/Images/Pictures/BebeSeattle.svg');
}

.ishmael{
  position: absolute;
  width: 75%;
  right: 0%;
  top: 10%;
  z-index: 0;
}

.practice {
  background-color: lightblue;
  border: 1px solid black;
  height: 100px;
  width: 20vW;
  overflow-x: scroll;
  }

.practice-txt {
  width: 40vW;
  margin: 0;
  }

/* ============ MOBILE ============ */

@media screen and (max-width: 600px) {

/* ====== SPACING ====== */
.mobile-column{
  flex-direction: column ;
}
}