body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ====== FONTS ====== */

h1 {
  font-family: myriad-pro-semiextended,sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* You may need this non-extended font later in development */

/* h1 {
  font-family: myriad-pro,sans-serif;
  font-weight: 900;
  font-style: normal;
} */

p {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.coporate {
  font-family: corporate-s, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cora {
  font-family: cora, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.neuzit {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ====== HEIGHT & WIDTH ====== */

.h-one-hundred {
  height: 100%;
}

.ninety-vh {
  height: 90vH;
}

/* ====== SPACING ====== */

.al-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

/* ====== Z-INDEX ====== */

.z-index {
  z-index: 999 !important;
}

/* ====== TRANSCRIPTION ====== */

.transcription-width {
  width: 60vW;
}

/* ====== COLORS ====== */

:root {
  --mint-green: #d7f0dd;
  --preserved-lemon: #CCCC21;
}

.mint-green {
  background-color: var(--mint-green);
}

/* ====== MENUS ====== */

.themes-menu {
  position: fixed;
  left: 0%;
  opacity: 100%;
  width: 20vW;
}

.vault-border {
  border-right: 5px solid black;
}

.vault-padding {
  padding: 0vH 2vW;
}
/* ====== HOMEPAGE ====== */

.home-border {
  border-bottom: 5px solid var(--preserved-lemon);
}

.home-height {
  height: 90vH;
}

.home-section-padding {
  padding-top: 10vH;
  padding-bottom: 5vH;
}

.home-text {
  font-size: 18em;
}

.top-black-border {
  border-top: 2px solid black;
}